@{
    ViewBag.Title = "UserHistoryDetails";
}

<h2>User History Details</h2>

<div>
    <p>Enter email id : </p>
    <input type="text" id="EmailId" />
    <input type="button" id="SubmitUserData" value="Submit" />
</div>
