<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="gaf:RefreshSitemapXml" type="GAF.DXP.Web.Framework.Extentions.Commands.RefreshSitemapXml, GAF.DXP.Web.Framework" />
      <command name="gaf:AzureBlobUpload" type="GAF.DXP.Web.Framework.Extentions.Commands.AzureBlobUpload, GAF.DXP.Web.Framework" />
      <command name="gaf:GetCommerceDetails" type="GAF.DXP.Web.Framework.Extentions.Commands.GetCommerceDetails, GAF.DXP.Web.Framework" />
      <command name="gaf:AddProduct" type="GAF.DXP.Web.Framework.Extentions.Commands.AddProduct, GAF.DXP.Web.Framework" />
      <command name="gaf:AddDocument" type="GAF.DXP.Web.Framework.Extentions.Commands.AddDocument, GAF.DXP.Web.Framework" />
      <command name="gaf:UploadSwatchImages" type="GAF.DXP.Web.Framework.Extentions.Commands.UploadSwatchImages, GAF.DXP.Web.Framework" />
      <command name="gaf:RebuildIndexItem" type="GAF.DXP.Web.Framework.Extentions.Commands.RebuildIndexItem, GAF.DXP.Web.Framework" />
    </commands>
  </sitecore>
</configuration>